<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="serviceA" class="com.minis.test.AServiceImpl">
        <constructor-arg type="String" name="name" value="miniSpring"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="String" name="property2" value="Hello World!"/>
<!--        <property type="com.minis.test.ServiceB" name="serviceB" ref="serviceB"/>-->
    </bean>
    <bean id="serviceB" class="com.minis.test.ServiceB">
        <property type="com.minis.test.ServiceC" name="serviceC" ref="serviceC"/>
    </bean>
    <bean id="serviceC" class="com.minis.test.ServiceC">
        <property type="com.minis.test.AServiceImpl" name="serviceA" ref="serviceA"/>
    </bean>
    <bean id="jdbcTemplate" class="com.minis.jdbc.core.JdbcTemplate">
        <property type="javax.sql.DataSource" name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="realHelloWorldService" class="com.minis.test.HelloWorldService">
    </bean>
    <bean id="myInterceptor" class="com.minis.aop.TracingInterceptor">
    </bean>
    <bean id="helloWorldService" class="com.minis.aop.ProxyFactoryBean">
        <property type="java.lang.Object" name="target" ref="realHelloWorldService"/>
        <property type="String" name="interceptorName" value="myBeforeInterceptor"/>
<!--        <property type="String" name="interceptorName" value="myInterceptor"/>-->
    </bean>
    <bean id="myBeforeInterceptor" class="com.minis.test.aop.MyBeforeAdvice">
    </bean>
    <bean id="dataSource" class="com.minis.jdbc.pool.PooledDataSource">
        <property type="String" name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property type="String" name="url" value="jdbc:mysql://10.222.145.187/nestjs_test"/>
        <property type="String" name="username" value="miniOne"/>
        <property type="String" name="password" value="catAdmin1!"/>
        <property type="int" name="initialSize" value="3"/>
    </bean>
</beans>